Description:
  This template is built and deployed by the infrastructure pipeline in various stages (staging/production) as required.
  It specifies the resources that need to be created, like the SageMaker Endpoint. It can be extended to include resources like
  AutoScalingPolicy, API Gateway, etc,. as required.

Parameters:
  SageMakerProjectName:
    Type: String
    Description: Name of the project
    MinLength: 1
    MaxLength: 32
    AllowedPattern: ^[a-zA-Z](-*[a-zA-Z0-9])*
  ModelExecutionRoleArn:
    Type: String
    Description: Execution role used for deploying the model.
  StageName:
    Type: String
    Description: The deployment stage.
  ModelPackageName:
    Type: String
    Description: The trained Model Package Name
  NewModelName:
    Type: String
    Description: The new model name.
  EndpointConfigName:
    Type: String
    Description: The endpoint configuration name.
  EndpointName:
    Type: String
    Description: The endpoint name.
  DeploymentStrategy:
    Type: String
    Description: The deployment strategy to be adopted.
    AllowedValues:
      - first
      - bluegreen
      - canary
      - ab
      - shadow
  CandidateModelWeight:
    Type: Number
    Default: 1.0
    MinValue: 0
    MaxValue: 1
  PreviousModelWeight:
    Type: Number
    Default: 1.0
    MinValue: 0
    MaxValue: 1
  PreviousModelName:
    Type: String
    Default: ""
    Description: Existing model name (required for canary / ab / shadow)
  EndpointInstanceCount:
    Type: Number
    Description: Number of instances to launch for the endpoint.
    MinValue: 1
  EndpointInstanceType:
    Type: String
    Description: The ML compute instance type for the endpoint.
  DataCaptureUploadPath:
    Type: String
    Description: The s3 path to which the captured data is uploaded.
  SamplingPercentage:
    Type: Number
    Description: The sampling percentage
    MinValue: 0
    MaxValue: 100
  EnableDataCapture:
    Description: Enable Data capture.
    Default: true
    Type: String
    AllowedValues: [true, false]

Conditions:
  IsFirst: !Equals [!Ref DeploymentStrategy, first]
  IsBlueGreen: !Equals [!Ref DeploymentStrategy, bluegreen]
  IsCanary: !Equals [!Ref DeploymentStrategy, canary]
  IsAB: !Equals [!Ref DeploymentStrategy, ab]
  IsShadow: !Equals [!Ref DeploymentStrategy, shadow]
  HasPreviousModel: !Not [!Equals [!Ref PreviousModelName, ""]]

Resources:

  ### New model
  NewModel:
    Type: AWS::SageMaker::Model
    Properties:
      ModelName: !ref NewModelName
      ExecutionRoleArn: !Ref ModelExecutionRoleArn
      Containers:
         - ModelPackageName: !Ref ModelPackageName

  ### Endpoint configuration
  EndpointConfig:
    Type: AWS::SageMaker::EndpointConfig
    Properties:
      EndpointConfigName: !Ref EndpointConfigName

      ProductionVariants:
        # -------- FIRST / BLUE-GREEN --------
        - !If
          - IsFirst
          - VariantName: AllTraffic
            ModelName: !GetAtt NewModel.ModelName
            InitialInstanceCount: !Ref EndpointInstanceCount
            InstanceType: !Ref EndpointInstanceType
            InitialVariantWeight: !Ref CandidateModelWeight
          - !If
            - IsBlueGreen
            - VariantName: Green
              ModelName: !GetAtt NewModel.ModelName
              InitialInstanceCount: !Ref EndpointInstanceCount
              InstanceType: !Ref EndpointInstanceType
              InitialVariantWeight: !Ref CandidateModelWeight
            - !If
              - IsCanary
              - VariantName: CanaryOld
                ModelName: !Ref PreviousModelName
                InitialInstanceCount: !Ref EndpointInstanceCount
                InstanceType: !Ref EndpointInstanceType
                InitialVariantWeight: !Ref PreviousModelWeight
              - !If
                - IsAB
                - VariantName: VariantA
                  ModelName: !Ref PreviousModelName
                  InitialInstanceCount: !Ref EndpointInstanceCount
                  InstanceType: !Ref EndpointInstanceType
                  InitialVariantWeight: !Ref PreviousModelWeight
                - !Ref AWS::NoValue

        # -------- CANARY / AB NEW MODEL --------
        - !If
          - IsCanary
          - VariantName: CanaryNew
            ModelName: !GetAtt NewModel.ModelName
            InitialInstanceCount: 1
            InstanceType: !Ref EndpointInstanceType
            InitialVariantWeight: !Ref CandidateModelWeight
          - !If
            - IsAB
            - VariantName: VariantB
              ModelName: !GetAtt NewModel.ModelName
              InitialInstanceCount: !Ref EndpointInstanceCount
              InstanceType: !Ref EndpointInstanceType
              InitialVariantWeight: !Ref CandidateModelWeight
            - !Ref AWS::NoValue

      # -------- SHADOW --------
      ShadowProductionVariants: !If
          - IsShadow
          - 
            - VariantName: Shadow
              ModelName: !GetAtt NewModel.ModelName
              InitialInstanceCount: 1
              InstanceType: !Ref EndpointInstanceType
          - !Ref AWS::NoValue

      DataCaptureConfig:
        EnableCapture: !Ref EnableDataCapture
        InitialSamplingPercentage: !Ref SamplingPercentage
        DestinationS3Uri: !Ref DataCaptureUploadPath
        CaptureOptions:
          - CaptureMode: Input
          - CaptureMode: Output

  

  # Endpoint
  Endpoint:
    Type: AWS::SageMaker::Endpoint
    Properties:
      EndpointName: !Ref EndpointName
      EndpointConfigName: !GetAtt EndpointConfig.EndpointConfigName
